/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #4cb8e0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    color: black;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height:auto;
    }
}
.logo {
    border-radius: 50%;
}
#trademark {
    font-size: 20px;
    font-weight: bold;
    color: #33e0cc;
}
.margin-top-20px {
    margin-top: 20px;
}
.navbar-header {
    text-transform: uppercase;
    border-right: 1px solid #f1f1f1;
}
.footer-title {
    text-transform: uppercase;
    color: #F9012D;
}
.list-menu {
    display: flex;
    justify-content: space-between;
}
.navbar-header:last-child {
    border-right: none;
}
.navbar-brand {
    color: #f1f1f1;
    font-weight: 800;
    font-family: Sans-serif;
    font-size: 15px;
}
#filter-area {
    background-color: #d0edf2;
    margin-top: 15px;
    border-radius: 5px;
}
#filter-area button[type='submit'] {
    margin-left: 20px;
}
.filter-area {
    padding: 20px 20px 20px 50px;
}
.pl-30 {
    padding-left: 30px;
}
.pb-15 {
    padding-bottom: 15px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-10 {
    margin-top: 10px;
}
.support-item {
    display: flex;
    padding-left: 30px;
    font-size: 15px;
}
.support-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
}
.support-title {
    background-color: #4cb8e0;
    color: #f1f1f1;
    line-height: 35px;
}
.support-position {
    background-color: #4a5568;
    height: 20px;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}
.advertise-item {
    height: 200px;
    background-color: #d0edf2;
    margin-top: -10px;
}


/*style home page */
.block {
    margin-bottom: 15px;
}
.block-title {
    color: #f1f1f1;
    border-bottom: 1px solid #a5a0a0;
    width: auto;
    margin-left: -15px;
    line-height: 40px;
}
.block-title p  {
    margin-bottom: 0px;
    background-color: #4cb8e0;
    width: 230px;
    padding-left: 12px;
    font-size: 17px;
}
.table tbody {
    background-color: #d0eadf;
}
.list-tour {
    /*position: relative;*/
}
.tour-item:nth-of-type(odd) {
    margin: 10px 10px 10px -15px;
}
.tour-item:nth-of-type(even) {
    margin: 10px 10px 10px 26px;
}
.tour-title {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.tour-info {
    display: flex;
    justify-content: space-between;
}
.tour-title-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
